@{
    ViewBag.Title = "Home Page";
}

    <img src="~/Content/image/Facturación-Electrónica-Icono-1024x1024.png" width="200" height=200"/>

        <h4 class="text-info"><font color="blue"><b>Módulos</b></font></h4>
        <div class="row">

            <div class="col-md-4">

                <div class="card border-info mb-3" style="max-width: 18rem;">
                    <div class="card-header text-info font-weight-bold"><font color="black"><b>Módulo 1:</b></font></div>
                    <div class="card-body text-info">
                        <font color="black">
                            <h5 class="card-title"><b>Mantenimientos</b></h5>
                        </font>
                        <font color="black">
                            <p class="card-text" align="justify">En este módulo se le dara mantenimiento alas diferentes entidades del sistema</p>
                        </font>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card border-info mb-3" style="max-width: 18rem;">
                    <div class="card-header text-info font-weight-bold"><font color="black"><b>Módulo 2:</b></font></div>
                    <div class="card-body text-info">
                        <font color="black">
                            <h5 class="card-title"><b>Procesos</b></h5>
                            <p class="card-text" align="justify">En este módulo se van hacer los diferentes procesos</p>
                        </font>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card border-info mb-3" style="max-width: 18rem;">
                    <div class="card-header text-info font-weight-bold"><font color="black"><b>Módulo 3:</b></font></div>
                    <div class="card-body text-info">
                        <font color="black">
                            <h5 class="card-title"><b>Consultas</b></h5>
                            <p class="card-text" align="justify">En este módulo se pueden realizar consultas en la base de datos </p>
                        </font>
                    </div>
                </div>
            </div>
        </div>
